doctype html
html
  head
    meta(charset="UTF-8")
    title 设备详情
    meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0 , maximum-scale=1.0, user-scalable=0")
    //- meta(name="MobileOptimized", content="320")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(name="format-detection", content="telephone=no")
    meta(http-equiv="Cache-Control", content="no-cache, no-store, must-revalidate")
    meta(http-equiv="Pragma", content="no-cache")
    meta(http-equiv="Expires", content="0")
    if !__DEV__
      link(href="styles/device.css", rel="stylesheet")
    script(src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js")
  body
    block content
      #app

    block scripts
      script(src="#{basePath}scripts/device.js")






