doctype html
html
  head
    meta(charset="UTF-8")
    title
    meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0 , maximum-scale=1.0, user-scalable=0")
    meta(name="MobileOptimized", content="320")
    meta(http-equiv="cleartype", content="on")
    meta(name="format-detection", content="telephone=no")
    meta(name="msapplication-TileColor", content="#222222")
    if !__DEV__
      link(href="styles/app.css", rel="stylesheet")
    link(rel="icon", href="data:;base64,iVBORw0KGgo=")
  body
    block content
      #app

    block scripts
      if __DEV__
        script(src="vue/dist/vue.min.js")
      script(src="#{basePath}scripts/app.js")