/* 容器 */
.page-container
  size 100%

.main-content
  height 100%
  box-sizing border-box

  .foot-actions
    fixed bottom rem(46)
    size 100% rem(90)
    text-align center

.with-foot-actions
  padding-bottom rem(90)

.food-edit-list
  padding-top rem(24)
  /* 必填表单 */
  .edit-required-form
    width 100%
    border-bottom rem(4) solid #FFF

    li
      position relative
      width 100%
      height rem(104)
      clearfix()

      span
        float left
        width 20%
        margin-left 5%
        height rem(104)
        line-height rem(104)
        font-size rem(30)
        color #FFF

      div
        float left
        width 70%
        height rem(104)
        padding-right 5%
        border-top 1px solid #FFF

        input
          width 80%
          height rem(104)
          border none
          outline none
          padding 0
          background transparent
          color #FFF
          font-size rem(30)

  /* 选填表单 */
  .edit-optional-form
    width 100%

    li
      position relative
      width 100%
      height rem(104)
      clearfix()

      span
        float left
        width 30%
        margin-left 5%
        margin-right 5%
        height rem(104)
        line-height rem(104)
        font-size rem(30)
        color #FFF
        text-align right

      div
        float left
        width 55%
        height rem(104)
        padding-right 5%
        border-bottom 1px solid #FFF

        input
          width 80%
          height rem(104)
          border none
          outline none
          padding 0
          background transparent
          color #FFF
          font-size rem(30)