.btn
  display inline-block
  background #F90
  border none
  outline none
  color #FFF
  font-size rem(36)
  height rem(90)
  line-height rem(90)

// 通栏按钮
.btn-block
  width 100%

// 右侧按钮
.btn-side
  display inline-block
  size rem(150) rem(70)
  text-align center
  background #f99
  font-size rem(30)
  z-index 999
  border none
  appearance none
  border-top-left-radius rem(35)
  border-bottom-left-radius rem(35)
  margin-bottom rem(10)