.btn
  display inline-block
  background #F90
  border none
  outline none
  color #FFF
  font-size rem(36)
  height rem(90)
  line-height rem(90)

// 通栏按钮
.btn-block
  width 100%

// 主按钮
.btn-primary
  size rem(450) rem(88)
  line-height rem(88)
  background-color #ffa96f
  border rem(4) solid #FFF
  padding rem(0)
  border-radius rem(44)

// 次按钮
.btn-secondary
  size rem(130) rem(50)
  line-height rem(50)
  background-color #ffa96f
  border rem(4) solid #FFF
  padding rem(0)
  border-radius rem(25)

// 右侧按钮
.btn-side
  display inline-block
  size rem(100) rem(50)
  text-align center
  background #ffa96f
  font-size rem(24)
  z-index 999
  border rem(4) solid #FFF
  appearance none
  border-top-left-radius rem(25)
  border-bottom-left-radius rem(25)
  color #FFF