/* 页面切换 */
.view
  transition opacity .5s ease, transform .5s ease

.view-enter,
.view-leave
  opacity 0
  transform translate3d(rem(10), 0, 0)

// 渐近过渡
.staggered-transition
  transition opacity .5s ease, height .5s ease, transform .5s ease
  margin 0

.staggered-enter
.staggered-leave
  opacity 0
  height 0
  transform translate3d(0, rem(10), 0)

// 从右到左出现
.rightToLeft-transition
  transition opacity .5s ease, height .5s ease, transform .5s ease
  opacity 1
  transform translate3d(0,0,0)

.rightToLeft-enter
.rightToLeft-leave
  opacity 0
  transform translate3d(0.4rem,0, 0)
