// ==================================================
// 定制
// ==================================================

html
body
  overflow-x hidden

if breakpoints
  for breakpoint in breakpoints
    // 响应式设置
    @media only screen and (min-width: unit(breakpoint, 'px'))
      html
        font-size unit(breakpoint / 32, 'px')
else
  html
    font-size 10px

body
  margin 0
  font-family font-stack
  font-size 12px
  color font-color
  line-height default-line-height
  background-color white
  -webkit-tap-highlight-color rgba(0,0,0,0)

// 超链接
// ------------------------------
a
  color link-color
  text-decoration none

  &:active
    text-decoration none

// 表单元素
// ------------------------------

// 移除input和textarea元素默认的聚焦样式
input:focus
textarea:focus
button
  outline none
