// ==================================================
// 占位符
// ==================================================

// 清除浮动
// 用法：
// clearfix()
// ------------------------------
$clearfix
  if support-for-ie
    *zoom 1
  &:before
  &:after
    display table
    content ""
    line-height 0
  &:after
    clear both
