// ==================================================
// 基础配置
// ==================================================

// 灰度色
// ------------------------------
black = #000
gray-darker = #020202
gray-dark = #333
gray = #666
gray-light = #999
gray-lighter = #ccc
white = #FFF

// 彩色
// ------------------------------
blue = #5E87EE
blue-dark = #476ED1
red = #EE5E5E
red-dark = #D44444
orange = #F69052

// 链接色
// ------------------------------
// 正常状态
link-color = blue
// 滑过状态
link-color-hover = orange

// 链接高亮
link-highlight-color = orange

// 排版
// ------------------------------

// 字体集
arial = Arial, Tahoma, "Helvetica Neue", Helvetica, sans-serif
tahoma = Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif
helvetica-neue = "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif
helvetica = "Helvetica Neue", Helvetica, Arial, sans-serif
georgia = Georgia, Cambria, "Times New Roman", Times, serif
times = "Times New Roman", Times, serif
yahei = "Hiragino Sans GB", "Microsoft Yahei", "SimSun"
heiti = "SimHei"
songti = "SimSun"

// 字体设置
browser-default-font-size = 10px
font-stack = tahoma
font-color = gray-dark
default-line-height = 1.5

// Stert: 元件设置
// 默认按钮
button-border-default-color = gray-lighter
button-background-default-color = #EEE

// 主操作按钮
button-border-primary-color = blue-dark
button-background-primary-color = blue-dark

// 危险操作按钮
button-border-danger-color = red-dark
button-background-danger-color = red-dark
// End: 元件设置

// 是否兼容 IE
support-for-ie = false

// 断点
breakpoints = false
// breakpoints = 320 480 640 800 960 1120 1280
