doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0 , maximum-scale=1.0, user-scalable=0")
    title seebest扫地机器人
    if __DEV__
      //- 开发环境下禁用缓存
      meta(http-equiv="Cache-Control", content="no-cache, no-store, must-revalidate")
      meta(http-equiv="Pragma", content="no-cache")
      meta(http-equiv="Expires", content="0")
      style.
        .debug-panel { position: fixed; left: 0; top: 100%; width: 100%; height: 100%; overflow: hidden; background: rgba(0, 0, 0, .8); color:#FFF; z-index: 10000;  }
        .deubg-panel-body { position: absolute; left: 0; top: 0; width: 100%; height: 80%; overflow: auto; word-wrap: break-word; }
        .debug-panel.debug-panel--unfolded { top: 0; }
        .debug-panel li:before { content: "-> "; }
        .btn-debug { position: fixed; bottom: 0; width: 4rem; height: 4rem; border-radius: 4rem; z-index: 10000; color: #000; text-align: center; line-height: 4rem; }
        .btn-debug { left: 0; background: #F90; }
      link(href="styles/app.css", rel="stylesheet")
    else
      link(href="styles/app.css", rel="stylesheet")
    link(rel="icon", href="data:;base64,iVBORw0KGgo=")
  body
    block content
      #app

    block scripts
      script(src="libs/socket.io.js")
      script(src="libs/wxjdk.js")
      script(src="libs/base64.js")
      script(src="libs/zepto.js")
      if __DEV__
        script(src="director/build/director.min.js")
        script(src="vue/dist/vue.min.js")
        script(src="lie/dist/lie.min.js")
      script(src="#{basePath}scripts/app.js")