doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0 , maximum-scale=1.0, user-scalable=0")
    title seebest扫地机器人
    meta(name="keyword", content="")
    meta(name="description", content="")
    meta(name="HandheldFriendly", content="true")
    meta(name="MobileOptimized", content="320")
    meta(name="viewport", content="width=device-width, initial-scale=1, minimal-ui, maximum-scale=1.0, user-scalable=no")
    meta(http-equiv="cleartype", content="on")
    meta(name="format-detection", content="telephone=no")
    meta(name="msapplication-TileColor", content="#222222")
    link(href="styles/app.css", rel="stylesheet")
  body
    .page-container
      .wifi-hints
        p 请设置WIFI信息，将WIFI与设备连接，连接成功后即可使用。
        .actions
          button.btn-ok#tt 连接 WIFI
    script(src="libs/jquery-1.js")
    script(src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js", type="text/javascript")
    script(src="libs/wxjdk.js")
    script(src="libs/airkiss2.js")
    script.
      var readyFunc = function onBridgeReady() {
          document.getElementById("tt").addEventListener("touchstart", function(e){
              e.preventDefault();
              WeixinJSBridge.invoke('configWXDeviceWiFi', {}, function(res){
                });
          });
      };

      if (typeof WeixinJSBridge === "undefined") {
          document.addEventListener('WeixinJSBridgeReady', readyFunc, false);
      } else {
          readyFunc();
      }