@charset "UTF-8";
html{-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; height:100%;}
html,body{-webkit-touch-callout: none; user-select:none; }
*{-webkit-tap-highlight-color:transparent;outline:0;}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;vertical-align:baseline}
i,em{font-style:normal}
ol,ul{list-style:none}
input,select,button,h1,h2,h3,h4,h5,h6{font-size:100%;font-family:inherit}
a,a:visited{text-decoration:none;color:#333}
body{margin:0 auto; min-width:320px; max-width:640px; position:relative;height:100%;background:#eef2f7;font-size:14px;font-family:Helvetica,STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Arial;line-height:1.5;color:#1e1e1e;-webkit-text-size-adjust:100% !important;-webkit-user-select:none;user-select:none; position:relative;}
img{ width:100%; height:auto;border:none; interpolation-mode: bicubic;border:0;vertical-align:top}
.txt-center{ text-align:center;}
.txt-justify{ text-align:justify; text-justify:inter-ideograph;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,div,p,ul,dl,dt,dd{display:block;padding:0px; margin:0px auto; border:none;}
a,button,input,i{-webkit-tap-highlight-color:rgba(0,0,0,0); -moz-tap-highlight-color:rgba(0,0,0,0); -ms-tap-highlight-color:rgba(0,0,0,0);tap-highlight-color:rgba(0,0,0,0);}
section{ width:100%; position:relative;}
.yellow{ color:#ffff26}
.ht50{ height:50px;}
.gray{-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);filter: grayscale(100%); filter: gray; opacity:.9}

.state{ overflow:hidden; width:100%; position:relative; padding:4% 0;background:#fff}
.state dl{ float:left; overflow:hidden; width:40%; height:50%;text-align:center; }
.state dl dt{ font-size:16px;}
.state dl dd{ padding:3% 0; color:#0096d6; text-align:center;}
.state dl dd em { display:inline-block; background-repeat: no-repeat; background-size:100%; width:26px; height:12px; }
.state dl dd .battery_a{ background-image:url(../images/dian01.png); }
.state dl dd .battery_b{ background-image:url(../images/dian02.png); }
.state dl dd .battery_c{ background-image:url(../images/dian03.png); }
.state dl dd .battery_d{ background-image:url(../images/dian04.png); }
.state dl.fr{ float:right}
.state .seebest{ width:90px; height:90px; top:16%; left:50%; position:absolute; overflow:hidden; margin-left:-45px;}
.state .seebest em{ display:block;width:90px; height:90px; background:url(../images/seebest_a.png) no-repeat; background-size:100%}

h1.title{ padding:2% 4%; background:#eef2f7;border-bottom:#d4d9de 1px solid; border-top:#d4d9de 1px solid}
.tempbox{ width:70%; padding:30px 0 10px; position:relative; }
.tempbox .lmbox span{ position:absolute; top:45px;}
.tempbox .lmbox span.sz1{ left:-28px;}
.tempbox .lmbox span.sz2{ right:-34px;}

.func{ overflow:hidden; width:100%;background:#fff}
.func li{ float:left; width:25%; padding:2% 0 1%; text-align:center; border-left:#d4d9de 1px solid; margin-left:-1px;}
.func li em{ display:block; width:50px; height:50px; margin:auto}
.func li em.ico1{ background:url(../images/gn1_a.png) no-repeat center; background-size:80%}
.func li em.ico2{ background:url(../images/gn2_a.png) no-repeat center; background-size:80%}
.func li em.ico3{ background:url(../images/gn3_a.png) no-repeat center; background-size:80%}
.func li em.ico4{ background:url(../images/gn4_a.png) no-repeat center; background-size:80%}
.func .radio { display:none; }
.func .trigger {cursor: pointer;position: relative; display:block;width:90%; line-height:34px;  -webkit-transition:background .15s linear;transition:background .15s linear; text-align:center;margin:auto; }
.func .checked .trigger{ color:#0096d6}
.func .checked .trigger em.ico1{background:url(../images/gn1_b.png) no-repeat center; background-size:80%}
.func .checked .trigger em.ico2{background:url(../images/gn2_b.png) no-repeat center; background-size:80%}
.func .checked .trigger em.ico3{background:url(../images/gn3_b.png) no-repeat center; background-size:80%}
.func .checked .trigger em.ico4{background:url(../images/gn4_b.png) no-repeat center; background-size:80%}
.time{border-top:#d4d9de 1px solid;border-bottom:#d4d9de 1px solid;}
.time li{ width:50%; height:60px;}
.time li em{ display:inline-block; margin:0 10px -20px;}
.no_link{ height:40px; line-height:40px; text-align:center; background:#727272; text-align:center; color:#fff; position:relative; z-index:9999}
/* 提示 */
.tishi{ min-width:500px; width:80%; position:absolute; top:30%; z-index:9999; padding-top:30px; left:10%; background:#fff;  text-align:center}
.tishi h2{ width:80%; line-height:24px; text-align:center; font-size:16px; margin:auto; padding:10px 0;color:#1b4257}
.tishi .tishi-text{ position:relative; color:#999;line-height:26px; color:#aaa}
.tishi .dld{display:inline-block; background:url(../images/dian04.png) no-repeat; background-size:100%; width:26px; height:12px;}
.tishi .fotbut{text-align:center; margin-top:10px; overflow:hidden; z-index:99; border-top:#ddd 1px solid}
.tishi .fotbut a{ display:block;font-size:16px;  float:left; width:50%; border-left:#ddd 1px solid; color:#007fff; height:33px; line-height:33px; margin-left:-1px;}
.tishi .fotbut a.qx{ color:#aaa;}
.tishi .fotbut a:hover{ background:#e4e4e4;}

.footbut{ width:640px; position:fixed; bottom:0; overflow:hidden; z-index:99; box-shadow:#999 1px 1px 5px}
.footbut button{ width:100%; height:50px; border:0; position:relative; text-align:center; color:#000; background:#fff; font-size:16px;tap-highlight-color:rgba(255,255,255,.7);-webkit-tap-highlight-color:rgba(255,255,255,.7)}
.footbut button:active{ background:rgba(255,255,255,.7)}

.modal{ width:100%; height:100%; overflow:hidden; position:fixed; left:0; top:0; z-index:999; background:rgba(0,0,0,.4)}
.modal-dialog { position: absolute; left: 5%; top: 50%; border-radius: 6px; background: #FFF; width: 90%; margin-top: -80px; }
.modal-body { text-align: center; font-size: 16px; padding: 30px 10%; }
.modal-footer { border-top: 1px solid #DDD; }
.modal-footer button { border-top: 1px solid #DDD; border: none; background: transparent; display: block; text-align: center; width: 100%; padding: 15px 0; font-size: 16px; color: #0096D6;}
.mengban_off{ width:100%; height:100%; display:none; overflow:hidden; text-indent:-9999px; position:fixed; left:0; top:0; z-index:9; background:rgba(0,0,0,0)}

.tanbox{ width:100%; position:fixed; left:0; bottom:0; z-index:9999;-webkit-transform:translate3d(0,120%,0);transform:translate3d(0,120%,0);-webkit-animation:topdow 0s 1; animation:topdow 0s 1;}
.tancon{ width:100%; background:#fff;}
.tancon h3{ font-size:14px; padding:15px 0 10px 15px; background:#eef2f7}

.tanbut{ width:100%; font-size:16px; height:50px; text-align:center;border-top:#c4c3c3 1px solid; overflow:hidden; z-index:99; box-shadow:#999 1px 1px 5px}
.tanbut a{ display:block; width:50%; float:left; border-left:#d4d9de 1px solid; height:50px; line-height:50px; margin-left:-1px;}

.color_plate{ padding:30px 0}

.dowtop{ display:block; -webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);-webkit-animation:dowtop 1s 1; animation:dowtop 1s 1;}
.topdow { display:block;-webkit-transform:translate3d(0,120%,0);transform:translate3d(0,120%,0);-webkit-animation:topdow 1s 1; animation:topdow 1s 1;}

@-webkit-keyframes dowtop{
  0%{ -webkit-transform:translate3d(0,120%,0);}
  100%{ -webkit-transform:translate3d(0,0,0);}
  }
@keyframes dowtop{
  0%{ transform:translate3d(0,120%,0);}
  100%{ transform:translate3d(0,0,0);}
  }
@-webkit-keyframes topdow{
  0%{ opacity:1;-webkit-transform:translate3d(0,0,0);}
  100%{ opacity:0;-webkit-transform:translate3d(0,120%,0);}
  }
@keyframes topdow{
  0%{ opacity:1;transform:translate3d(0,0,0);}
  100%{ opacity:0;transform:translate3d(0,120%,0);}
  }

@media (max-width:640px){
section,header{ width:100%; }
.footbut,.fot_nav{ width:100%}
}
.loader{ width:100%; height:100%; position:fixed; top:50px; left:0; z-index:9999; background:rgba(255,255,255,.0); }
.ball-beat{ width:100px; overflow:hidden; text-align:center; position:fixed; height:60px; padding-top:40px; top:40%; left:50%; margin-left:-50px; z-index:9999; background:rgba(255,209,10,.7); border-radius:50%;}

.ball-beat > div {background-color: #fff;width: 15px;height: 15px;border-radius: 100%;margin: 2px;-webkit-animation-fill-mode: both;
 animation-fill-mode: both; display: inline-block; -webkit-animation: ball-beat 0.7s 0s infinite linear;animation: ball-beat 0.7s 0s infinite linear; }
.ball-beat > div:nth-child(2n-1) {-webkit-animation-delay: 0.35s !important;animation-delay: 0.35s !important; }
@-webkit-keyframes ball-beat {
  50% {opacity: 0.2;-webkit-transform: scale(0.75);transform: scale(0.75); }
  100% { opacity: 1;-webkit-transform: scale(1);transform: scale(1); } }
@keyframes ball-beat {
  50% {opacity: 0.2;-webkit-transform: scale(0.75);transform: scale(0.75); }
  100% {opacity: 1;-webkit-transform: scale(1);transform: scale(1); } }



.wrapper {margin-top: 10px;position: relative;display: inline-block;width: 100%; height:200px;}
.cp-app{position: relative;float: left;margin: 10px 0 0 10px;box-shadow: 4px 4px 19px rgba(0, 0, 0, 0.7);}
#contrastPatch {position: absolute;left: -9999px;}
.sliders { display:none;}
#hsv_map {width: 200px;height: 200px;position: absolute;left: 50%; margin-left:-100px;top: 0px;}
#hsv_map .cover {display:none}
.hsv-cursor {position: absolute;border-radius: 50%;width: 40px;height: 40px;cursor: default;margin: -20px;cursor: crosshair; /*background:url(../images/cursor.png) no-repeat; background-size:100%;*/}
.dark .hsv-cursor {border-color: #333;}
.no-cursor .hsv-cursor, #hsv_map.no-cursor .cover {cursor: none;}
#luminanceBar,#colorValues,.cp-app,.hsv-barcursors,#color_squares,#description,#hsv_map .bar-bg, #hsv_map .bar-white { display:none}

/*zhouqi*/
.yud_box{ width:100%; margin:4% 0; padding:0 6%;height:34px; position:relative;}
.yud_box .yd{display: block; width:20%; font-size:14px; line-height:34px; height:34px; position:absolute; left:22%; top:0; z-index: 2; text-align: center;}
.yud_box .yud_zhouqi{ color:#0096d6;position:absolute; left:0; top:0;width:64%; line-height:34px; height:34px; font-size:16px; border:1px solid #e4e4e4; background:none;  padding:0 2% 0 24%; margin:0px 6%;}
.cf_zhouqi2{ overflow:hidden; padding:2% 2% 2% 6%; text-align:center; width: 92%;}
.cf_zhouqi2 li{ float:left; width:22%;  text-align:center;margin:1%;}
.cf_zhouqi2 li em{display:block; background-size:16px 16px;position:absolute; right:0; bottom:0; width:16px; height:16px; }
.cf_zhouqi2 .radio { display:none; }
.cf_zhouqi2 .trigger {cursor: pointer; position: relative;border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; border:1px solid #e4e4e4; display:block; width:90%; line-height:34px;  -webkit-transition:background .15s linear;transition:background .15s linear; text-align:center;margin:auto; }
.cf_zhouqi2 .radio:checked + .trigger{ color:#fff; background:#0096d6;border:1px solid #0096d6;}
.cf_zhouqi2 .radio:checked + .trigger em{display:block; background:url(../images/ico_gouxuan.png) no-repeat center; background-size:16px 16px;position:absolute; right:0; bottom:0; width:16px; height:16px;}
.cf_zhouqi2 .radio:checked + .trigger em.ico_dg{display:block; background:url(../images/ico_gouxuan.png) no-repeat center; background-size:16px 16px;position:absolute; right:0; bottom:0; width:16px; height:16px;}

.direction_box{ width:100%;  border-top:#d4d9de 1px solid; padding:2% 0;}
.direction{ background:url(../images/Controlbg.png) no-repeat; background-size:100%;  position:relative; width:144px; height:144px;  margin:10px auto; }
.direction .arrow{ display:inline-block; position:absolute; width:44px; height:44px; border:none;}
.direction .jt1{ background:url(../images/jt1_a.png) no-repeat; position:absolute; background-size:44px 44px; left:50px; top:4px;}
.direction .jt1:hover{ background:url(../images/jt1_b.png) no-repeat; background-size:44px 44px; }
.direction .jt4{ background:url(../images/jt4_a.png) no-repeat; position:absolute;background-size:44px 44px;top:50px; left:4px;}
.direction .jt4:hover{ background:url(../images/jt4_b.png) no-repeat; background-size:44px 44px;}
.direction .jt2{ background:url(../images/jt2_a.png) no-repeat; position:absolute;background-size:44px 44px; top:50px; right:4px;}
.direction .jt2:hover{ background:url(../images/jt2_b.png) no-repeat; background-size:44px 44px; }
.direction .jt3{ background:url(../images/jt3_a.png) no-repeat; position:absolute;background-size:44px 44px; left:50px; bottom:4px;}
.direction .jt3:hover{ background:url(../images/jt3_b.png) no-repeat; background-size:44px 44px; }
.direction .txtqr{display:inline-block;position:absolute; width:56px; height:56px; left:44px; top:44px; font-size:16px; border:none; background:none}

@media (max-device-height:480px){/*  iPhone 4 ———– */
.direction{ background:url(../images/Controlbg.png) no-repeat; background-size:120px 120px;  position:relative; width:120px; height:120px;  margin:10px auto; }
.direction .arrow{ display:inline-block; position:absolute; width:34px; height:34px; border:none;}
.direction .jt1{ background:url(../images/jt1_a.png) no-repeat; position:absolute; background-size:34px 34px; left:42px; top:4px;}
.direction .jt1:hover{ background:url(../images/jt1_b.png) no-repeat ; background-size:34px 34px; }
.direction .jt4{ background:url(../images/jt4_a.png) no-repeat; position:absolute;background-size:34px 34px; top:42px; left:4px;}
.direction .jt4:hover{ background:url(../images/jt4_b.png) no-repeat ;  background-size:34px 34px;}
.direction .jt2{ background:url(../images/jt2_a.png) no-repeat; position:absolute;background-size:34px 34px; top:42px; right:4px;}
.direction .jt2:hover{ background:url(../images/jt2_b.png) no-repeat; background-size:34px 34px; }
.direction .jt3{ background:url(../images/jt3_a.png) no-repeat; position:absolute;background-size:34px 34px; left:42px; bottom:4px;}
.direction .jt3:hover{ background:url(../images/jt3_b.png) no-repeat; background-size:34px 34px; }
.direction .txtqr{display:inline-block;position:absolute; width:44px; height:34px; left:40px; top:42px; font-size:16px; border:none; background:none}
}

@media screen and (min-device-width:360px) and (max-device-width:375px) { /* 6  */
.func li em{ display:block; width:80px; height:80px; margin:auto}
.direction{ background:url(../images/Controlbg.png) no-repeat; background-size:200px 200px;  position:relative; width:200px; height:200px;  margin:16px auto; }
.direction .arrow{ display:inline-block; position:absolute; width:60px; height:60px; border:none;}
.direction .jt1{ background:url(../images/jt1_a.png) no-repeat; position:absolute;background-size:60px 60px; left:70px; top:4px;}
.direction .jt1:hover{ background:url(../images/jt1_b.png) no-repeat; background-size:60px 60px; }
.direction .jt4{ background:url(../images/jt4_a.png) no-repeat; position:absolute;background-size:60px 60px; top:70px; left:4px;}
.direction .jt4:hover{ background:url(../images/jt4_b.png) no-repeat;  background-size:60px 60px;}
.direction .jt2{ background:url(../images/jt2_a.png) no-repeat; position:absolute;background-size:60px 60px; top:70px; right:4px;}
.direction .jt2:hover{ background:url(../images/jt2_b.png) no-repeat;background-size:60px 60px; }
.direction .jt3{ background:url(../images/jt3_a.png) no-repeat; position:absolute;background-size:60px 60px; left:70px; bottom:4px;}
.direction .jt3:hover{ background:url(../images/jt3_b.png) no-repeat; background-size:60px 60px; }
.direction .txtqr{display:inline-block;position:absolute; width:72px; height:60px; left:64px; top:70px; font-size:16px; border:none; background:none}
}
@media only screen and (min-device-width:412px) and (-webkit-min-device-pixel-ratio: 3) { /* 6 plus */
.func li{ float:left; width:25%; padding:2% 0 1%; text-align:center; border-left:#d4d9de 1px solid; margin-left:-1px;}
.func li em{ display:block; width:78px; height:78px; margin:auto}
.func li em.ico1{ background:url(../images/gn1_a.png) no-repeat center; background-size:80%}
.func li em.ico2{ background:url(../images/gn2_a.png) no-repeat center; background-size:80%}
.func li em.ico3{ background:url(../images/gn3_a.png) no-repeat center; background-size:80%}
.func li em.ico4{ background:url(../images/gn4_a.png) no-repeat center; background-size:80%}
.func .radio { display:none; }
.func .trigger {cursor: pointer;position: relative; display:block;width:90%; line-height:34px;  -webkit-transition:background .15s linear;transition:background .15s linear; text-align:center;margin:auto; }
.func .radio:checked + .trigger{ color:#0096d6}
.func .radio:checked + .trigger em.ico1{background:url(../images/gn1_b.png) no-repeat center; background-size:80%}
.func .radio:checked + .trigger em.ico2{background:url(../images/gn2_b.png) no-repeat center; background-size:80%}
.func .radio:checked + .trigger em.ico3{background:url(../images/gn3_b.png) no-repeat center; background-size:80%}
.func .radio:checked + .trigger em.ico4{background:url(../images/gn4_b.png) no-repeat center; background-size:80%}

.direction{ background:url(../images/Controlbg.png) no-repeat; background-size:270px 270px;  position:relative; width:270px; height:270px;  margin:10px auto; }
.direction .arrow{ display:inline-block; position:absolute; width:66px; height:66px; border:none;}
.direction .jt1{ background:url(../images/jt1_a.png) no-repeat; position:absolute; background-size:66px 66px; left:102px; top:12px;}
.direction .jt1:hover{ background:url(../images/jt1_b.png) no-repeat; background-size:66px 66px; }
.direction .jt4{ background:url(../images/jt4_a.png) no-repeat; position:absolute;background-size:66px 66px; top:102px; left:12px;}
.direction .jt4:hover{ background:url(../images/jt4_b.png) no-repeat;  background-size:66px 66px;}
.direction .jt2{ background:url(../images/jt2_a.png) no-repeat; position:absolute;background-size:66px 66px; top:102px; right:12px;}
.direction .jt2:hover{ background:url(../images/jt2_b.png) no-repeat; background-size:66px 66px; }
.direction .jt3{ background:url(../images/jt3_a.png) no-repeat; position:absolute;background-size:66px 66px; left:102px; bottom:12px;}
.direction .jt3:hover{ background:url(../images/jt3_b.png) no-repeat; background-size:66px 66px; }
.direction .txtqr{display:inline-block;position:absolute; width:114px; height:66px; left:78px; top:102px; font-size:20px; border:none; background:none}
}

/*表单样式开始*/
#form,#reg{width:94%;margin:15px auto 0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#form .sjlabel{display:block;height:40px;line-height:40px;color:#666;font-size:16px}
#form input,#form select,#form textarea{display:block;padding:0 10px;line-height:40px;font-size:16px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border:1px #bdb8b8 solid}
.input{height:40px;width:100%}
.input1{height:160px;width:100%}
.code{width:60%;float:left;height:40px}
.city{width:49%;height:40px}
.btnCode{width:38%;float:right;display:block;height:40px;font-size:16px;border:none;background-color:#ff8a00;display:block;color:#fff;text-align:center}
.submit{width:100%;margin:20px auto 0;border:none;border-radius:6px;background-color:#ff8a00;display:block;color:#fff;text-align:center;font-size:24px;letter-spacing:4px;height:50px;line-height:50px}
.already{display:block;height:40px;line-height:40px;color:#8f8f8f;font-size:16px;width:94%;margin:0 auto}
.already label{color:#3191dd}
.already label.wm{color:#8f8f8f}
.yutan{ width:100%; font-size:16px; height:50px; text-align:center;border-top:#c4c3c3 1px solid; position:fixed; bottom:0; overflow:hidden; z-index:99; box-shadow:#999 1px 1px 5px; background:#fff;}
.yutan a{ display:block; width:50%; float:left; border-left:#d4d9de 1px solid; height:50px; line-height:50px; margin-left:-1px; background:#fff;}
/*表单样式结束*/
/*重复周期选择*/
.cf_zhouqitit{width:94%;margin:15px auto 0;height:40px;line-height:40px;color:#666;font-size:16px}
.cf_zhouqi2{ overflow:hidden; padding:2% 2% 2% 6%; text-align:center; width: 92%; background:#fff;}
.cf_zhouqi2 li{ float:left; width:22%;  text-align:center;margin:1%;}
.cf_zhouqi2 li em{display:block; background-size:16px 16px;position:absolute; right:0; bottom:0; width:16px; height:16px; }
.cf_zhouqi2 .radio { display:none; }
.cf_zhouqi2 .trigger {cursor: pointer; position: relative;border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; border:1px solid #e4e4e4; display:block; width:90%; line-height:34px;  -webkit-transition:background .15s linear;transition:background .15s linear; text-align:center;margin:auto; background:#fff; }
.cf_zhouqi2 .radio:checked + .trigger{ color:#fff; background:#0096d6;border:1px solid #0096d6;}
.cf_zhouqi2 .radio:checked + .trigger em{display:block; background:url(../images/ico_gouxuan.png) no-repeat center; background-size:16px 16px;position:absolute; right:0; bottom:0; width:16px; height:16px;}
.cf_zhouqi2 .radio:checked + .trigger em.ico_dg{display:block; background:url(../images/ico_gouxuan.png) no-repeat center; background-size:16px 16px;position:absolute; right:0; bottom:0; width:16px; height:16px;}

/* Airkiss */
.page-container { padding: 20px; font-size: 16px; }
.actions { position: fixed; left: 5%; bottom: 20px; width: 90%; }
.actions .btn-ok { display: block; width: 100%; font-size: 18px; border:none; background:#0096d6; color: #FFF; padding: 18px 0; }

/* 隐藏 */
.hidden { display:none !important; }

/* 设备列表 */
.modal-device-list .modal-dialog { margin-top: -130px; }
.device-list { text-align: left; height: 150px; overflow: auto; }
.device-list li { border: 1px solid #DDD; border-radius: 4px; margin-bottom: 10px;}
.device-list li label { position: relative; display: block;  padding: 10px 40px 10px 10px; }
.device-list li label input[type="radio"] { position: absolute; content: ""; right: 10px; top: 10px; width:24px; height: 24px; -webkit-appearance: none; appearance: none; }
.device-list li label input[type="radio"]:checked { background: url("../images/radio_checked_bg.png") no-repeat; background-size: 24px; }
